body {
    background: #333;
    height: 100vh;
    align-items: center;
}

h3 {
    margin: 30px 0 20px 0;
    color: darkgrey;
    font-size: 40px;
}

.ptable {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.pw {
    width:20px;
    height: 20px;
    background-color: white;
}
.pb {
    width: 20px;
    height: 20px;
    background-color: black;
}

.table-container {
    display: flex;
}

.buttons {
    min-height: 70px;
    padding: 50px 0 10px 0;
}

button {
    height: 50px;
    font-family: "Arial Black";
    color: #282c34;
    margin: 20px;
    border-bottom-style: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.infoBlock {
    min-height: 440px;
}